.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}

.beachmark-title {
  font-size: 1.2em;
  display: inline-block;
  width: 115px;
}
.beachmark-ratting {
  color: goldenrod;
  font-size: 1.6em;
  padding-left: .8rem;
}
/deep/ .bs-rating-star {
  padding-left: .3rem;
  padding-right: .3rem;
}

.topic-info {
  margin-bottom: 3rem;
}
.topic-feedbacks {
  margin-bottom: 3rem;
}

.btn-feedback{
  font-size: 1.2em;
  background-color: #007bff;
  color: white;
  padding-top:6px;
  padding-bottom:6px;
  width: 150px;
}

/* chat */
.item-from {
  font-weight: 600;
  color: #3c8dbc;
}
.item-time {
  color: #777;
}
.item-feedback {
  margin-left: 1.5rem;
}
.item-point-container {
  width: 100%;
  margin-left: 1.5rem;
  font-size: 0.8rem;
  color: #777;
}
.item-point {
  margin-right: 1rem;
}
