<div class="container">

  <div class="topic mt-5">
    <div class="row mb-5">
      <div class="col-md-8">
        <div class="topic-info mb-5">
          <strong class="d-inline-block mb-2" [appTeamColor]="appTeamColor">SPIRIT</strong>
          <h2 class="topic-title mb-4">A brief introduction of micro-service technology</h2>
          <p class="topic-meta">January 1, 2014 by <a href="#">Yang, Libin Jeremy</a></p>
          <p>This blog post shows a few different types of content that's supported and styled with Bootstrap. Basic typography,
            images, and code are all supported.</p>
        </div>
      </div>
      <div class="col-md-4">
          <img class="card-img-right flex-auto d-none d-lg-block" alt="Thumbnail [200x250]" style="width: 320px; height: 240px;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22200%22%20height%3D%22250%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20200%20250%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16557d0aba3%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A13pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16557d0aba3%22%3E%3Crect%20width%3D%22200%22%20height%3D%22250%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2256.203125%22%20y%3D%22130.7%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
      </div>
    </div>

    <div class="row topic-feedbacks">
      <div class="col-12">
        <h4 class="subtitle mb-2 font-italic">Feedbacks:</h4>
        <hr>
        <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu
          leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras
          mattis consectetur purus sit amet fermentum.</p>
      </div>
    </div>

  </div><!-- /.blog-post -->

</div><!-- /.container -->
