<div class="container">

  <div class="topic mt-5">

    <div class="row topic-info">
      <div class="col-lg-8">
        <div class="topic-info-content">
          <strong class="d-inline-block mb-2" [appTeamColor]="topic.team">{{topic.team}}</strong>
          <h2 class="topic-title mb-4">{{topic.title}}</h2>
          <p class="mb-2">
            <span class="text-muted">{{topic.holdingDate | date:'MMM dd, yyyy'}}</span>
            <span class="pl-3"> by {{topic.speaker}}</span>
          </p>
          <p>{{topic.description}}</p>
        </div>
      </div>
      <div class="col-md-4">
        <img class="card-img-right flex-auto d-none d-lg-block" alt="Thumbnail [200x250]" style="width: 320px; height: 240px;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22200%22%20height%3D%22250%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20200%20250%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16557d0aba3%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A13pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16557d0aba3%22%3E%3Crect%20width%3D%22200%22%20height%3D%22250%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2256.203125%22%20y%3D%22130.7%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
          data-holder-rendered="true">
      </div>
    </div>

    <div class="row topic-points">

      <div class="col-lg-6 order-lg-2 mb-5">
        <h4 class="subtitle mb-2 font-italic">My Vote:</h4>
        <hr>
        <div>
          <form #f="ngForm" novalidate>
            <div class="mb-1 benchmark-line">
              <span class="beachmark-title">Subject:</span>
              <rating name="myPoint01" class="beachmark-ratting" [(ngModel)]="myPoint01" [max]="5"></rating>
            </div>
            <div class="mb-1 benchmark-line">
              <span class="beachmark-title">Difficulty:</span>
              <rating name="myPoint02" class="beachmark-ratting" [(ngModel)]="myPoint02" [max]="5"></rating>
            </div>
            <div class="mb-1 benchmark-line">
              <span class="beachmark-title">Practicability:</span>
              <rating name="myPoint03" class="beachmark-ratting" [(ngModel)]="myPoint03" [max]="5"></rating>
            </div>
            <div class="mb-3 benchmark-line">
              <span class="beachmark-title">Infectivity:</span>
              <rating name="myPoint04" class="beachmark-ratting" [(ngModel)]="myPoint04" [max]="5"></rating>
            </div>
            <div class="mb-1 benchmark-feedback">
              <textarea type="text" class="form-control" name="myFeedback" [(ngModel)]="myFeedback" rows="5" autofocus="autofocus" placeholder="Please write down your feedback"></textarea>
            </div>
            <div class="mt-3">
              <button mat-raised-button class="btn-feedback" (click)="submitFeedback()" [disabled]="loading"><i *ngIf="loading"
                  class="fa fa-spin fa-refresh"></i> Submit</button>
            </div>
          </form>
        </div>

      </div>

      <div class="col-lg-6 order-lg-1 mb-5">
        <h4 class="subtitle mb-2 font-italic">Topic Points:</h4>
        <hr>
        <div class="d-flex justify-content-start">
          <div class="mr-3">{{topic.votes}} votes</div>
          <div>
            <span class="pr-2">{{topic.points | number:'1.2-2'}} points</span>
            <app-rating [marks]="topic.points"></app-rating>
          </div>
        </div>
        <div>
          <div echarts [options]="chartOption" class="demo-chart"></div>
        </div>
      </div>

    </div>

    <div class="row topic-feedbacks">
      <div class="col-12">
        <h4 class="subtitle mb-2 font-italic">All Feedbacks:</h4>
        <div>
          <hr>
          <div class="flex-md-row mb-4">
            <div class="d-flex flex-column align-items-start mb-3">
              <div class="container px-0">
                <div class="d-flex">
                  <p class="item-from d-inline-block mb-2">From: 192.168.1.1</p>
                  <small class="item-time ml-auto align-self-center mb-1">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    2018-08-15 17:30
                  </small>
                </div>
              </div>
              <p class="item-feedback mb-1">
                Very Good! I like it.
              </p>
              <div class="item-point-container d-flex justify-content-end">
                <div class="item-point">
                  Subject:
                  <app-rating [marks]="4"></app-rating>
                </div>
                <div class="item-point">
                  Difficulty:
                  <app-rating [marks]="5"></app-rating>
                </div>
                <div class="item-point">
                  Practicability:
                  <app-rating [marks]="3"></app-rating>
                </div>
                <div class="item-point">
                  Infectivity:
                  <app-rating [marks]="5"></app-rating>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <hr>
          <div class="d-flex flex-column align-items-start">
            <div class="container px-0">
              <div class="d-flex">
                <p class="item-from d-inline-block mb-2">From: 192.168.1.1</p>
                <small class="item-time ml-auto align-self-center mb-1">
                  <i class="fa fa-clock-o" aria-hidden="true"></i>
                  2018-08-15 17:30
                </small>
              </div>
            </div>
            <p class="item-feedback mb-1">
              Very Good! I like it.
            </p>
            <div class="item-point-container d-flex justify-content-end">
              <div class="item-point">
                Subject:
                <app-rating [marks]="4"></app-rating>
              </div>
              <div class="item-point">
                Difficulty:
                <app-rating [marks]="5"></app-rating>
              </div>
              <div class="item-point">
                Practicability:
                <app-rating [marks]="3"></app-rating>
              </div>
              <div class="item-point">
                Infectivity:
                <app-rating [marks]="5"></app-rating>
              </div>
            </div>
          </div>
        </div>
        <div>
            <hr>
            <div class="d-flex flex-column align-items-start">
              <div class="container px-0">
                <div class="d-flex">
                  <p class="item-from d-inline-block mb-2">From: 192.168.1.1</p>
                  <small class="item-time ml-auto align-self-center mb-1">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    2018-08-15 17:30
                  </small>
                </div>
              </div>
              <p class="item-feedback mb-1">
                Very Good! I like it.
              </p>
              <div class="item-point-container d-flex justify-content-end">
                <div class="item-point">
                  Subject:
                  <app-rating [marks]="4"></app-rating>
                </div>
                <div class="item-point">
                  Difficulty:
                  <app-rating [marks]="5"></app-rating>
                </div>
                <div class="item-point">
                  Practicability:
                  <app-rating [marks]="3"></app-rating>
                </div>
                <div class="item-point">
                  Infectivity:
                  <app-rating [marks]="5"></app-rating>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>

  </div><!-- /.blog-post -->

</div><!-- /.container -->
