<h4 class="subtitle mb-2 font-italic">
  Topic History
</h4>
<div *ngFor="let topic of topics$ | async" class="card flex-md-row mb-4 shadow-sm h-md-250">
  <div class="card-body d-flex flex-column align-items-start">
    <div class="container px-0">
      <div class="d-flex">
        <strong class="d-inline-block mb-2" [appTeamColor]="topic.team">{{topic.team}}</strong>
        <small class="ml-auto align-self-center mb-1">-- {{topic.speaker}}</small>
      </div>
    </div>
    <h3 class="mb-2">
      <a class="text-dark" href="#">{{topic.title}}</a>
    </h3>
    <div class="mb-2 text-muted">{{topic.holdingDate | date:'MMM dd, yyyy'}}</div>
    <p class="card-text mb-auto">
      {{topic.description}}
    </p>
    <div class="container mt-3 px-0">
      <div class="d-flex justify-content-end">
        <div class="mr-3">{{topic.votes}} votes</div>
        <div>
          <span class="pr-2">{{topic.points | number:'1.2-2'}} points</span>
          <app-rating [marks]="topic.points"></app-rating>
        </div>
      </div>
    </div>
  </div>
  <img class="card-img-right flex-auto d-none d-xl-block" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22200%22%20height%3D%22250%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20200%20250%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16542fa31b2%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A13pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16542fa31b2%22%3E%3Crect%20width%3D%22200%22%20height%3D%22250%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2256.203125%22%20y%3D%22130.7%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
    style="width: 200px; height: 250px;">
</div>
<pagination [totalItems]="totalItems" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)"
  [boundaryLinks]="true" [maxSize]="10" [itemsPerPage]="10" class="dark-theme"
  previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
</pagination>
