<header>
  <nav class="navbar navbar-dark bg-dark shadow-sm flex-column flex-md-row">
    <a href="#" class="navbar-brand d-flex align-items-center">
      <strong>GSM Bloom Bag Vote</strong>
    </a>
    <div class="d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3">
      <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </nav>
</header>

<router-outlet></router-outlet>

<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>BBVote is &copy; Citi GSM</p>
  </div>
</footer>
