<main role="main">

  <section class="jumbotron jumbotron-fluid text-white text-center">
    <div class="container">
      <div>
        <h1>Cast your vote please!</h1>
        <p class="lead">You can vote for each topic you've attended. Your feedback will be helpful to us and the topic speakers.</p>
      </div>
    </div>
  </section>

  <div class="py-5 bg-light">
    <div class="container">
      <div class="row">

        <!--expect list-->
        <div class="col-lg-5 order-lg-2 col-xl-4 order-xl-2 mb-4">
          <app-expects></app-expects>
        </div>

        <!--topic list-->
        <div class="col-lg-7 order-lg-1 col-xl-8 order-xl-1 mb-4">
          <app-topics></app-topics>
        </div>

      </div>
    </div>
  </div>

</main>
